  <img class="form-foto" src="./image/photo_2026-04-03_14-47-46.jpg" alt="foto">
  
  <button id="openModal" onlick="openModal" type="submit">Замовити</button>

<div id="modal" class="modal">
<div class="modal-content">
  <h2>Замовлення</h2>
   <span class="close" style="position:absolute; right:10px; cursor:pointer;">✖</span>

<form id="form">
  <input type="text" id="name" placeholder="Ваше ім'я" required>
  <input type="tel" id="phone" placeholder="Телефон" required>
  <input type="date" id="date" placeholder="дата" required>
  <input type="text" id="misto" placeholder="Місце" required>
   <button id="submitOrder">Замовити</button>
</form>
</div>
</div>

