    <header class="header" id="1">
        <div class="inner-container">
       <a class="logo" href="#">Podarunok<span class="logo__simply">Lybashivka</span> </a>
       <nav class="navigation">
         <button class="burgermenu" data-open-menu>
             <svg class="burgermenu__svg">
                <use href="./image/icons8-меню.svg"></use>
             </svg>
         </button>
         <ul class="header-list">
            <li class="header-list__item">
                <a class="header-list__link" href="#1">Привітання</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#2">Аніматори</a>
            </li>
            <li class="header-list__item">
                <a class="header-list__link" href="#3">Замовити</a>
            </li>
         </ul>
       </nav>
       <div class="menu-right">
        <a href="https://www.instagram.com/podarynok_lybashivka?igsh=azhqMno4a2NrdXF4" class="menu-right__link">
           <img class="menu-right__svg" src="./image/instagram-icon-svgrepo-com.efb4e11e.svg"  alt="instagram">
        </a>
        <a href="https://www.tiktok.com/@_animatorsss01_?_r=1&_t=ZS-957n7Y4OM0y" class="menu-right__link">
            <img class="menu-right__svg" src="./image/free-icon-tik-tok-3046120.afa30f72.png" alt="tik-tok">
        </a>
       </div>
       </div>
    </header>